@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-grey: #e5e7eb;
  --color-accent: #f6f6f6;
  --color-lightgrey: #6d6d6d;
  --color-darkgrey: #a9a9a9;
  --color-dark: #181818;
  --color-mediumgrey: #5d5d5d;
  --font-monasans: "Mona Sans", "Uncut Sans", "system-ui";
  --text-xs: 0.75rem;
  --breakpoint-xlg: 70rem;
  --breakpoint-xm: 56rem;
  --breakpoint-xxs: 10rem;
  --breakpoint-xs: 16rem;
  --breakpoint-ls: 25.5rem;
  --breakpoint-lls: 27rem;
}

@layer utilities {
  body {
    @apply text-dark;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Custom scrollbar styles (WebKit) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 11rem; /* vertical scrollbar width */
    height: 11rem; /* horizontal scrollbar height */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-black rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-black;
  }

  /* Custom scrollbar styles (Firefox) */
  .custom-scrollbar {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: theme("colors.black") theme("colors.gray.200"); /* thumb and track color */
  }
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, a, span, div, pre {
  font-feature-settings: 'ss02' on, 'ss07' on, 'liga' off;
}

* {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: thin;
  /* IE and Edge */
  overflow: -moz-scrollbars-thin;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #f3f4f6 transparent;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
  z-index: 1000;
}

*::-webkit-scrollbar-thumb {
  background-color: #f3f4f6;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/MonaSans.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-feature-settings:
    "liga" 0,
    "ss02",
    "ss07";
  font-variation-settings: normal;
}

@font-face {
  font-family: "Uncut Sans";
  src: url("/assets/fonts/UncutSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-feature-settings:
    "liga" 0,
    "ss02",
    "ss07";
  font-variation-settings: normal;
}


@font-face {
  font-family: "Uncut Sans";
  src: url("/assets/fonts/UncutSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-feature-settings:
    "liga" 0,
    "ss02",
    "ss07";
  font-variation-settings: normal;
}

@font-face {
  font-family: "Uncut Sans";
  src: url("/assets/fonts/UncutSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-feature-settings:
    "liga" 0,
    "ss02",
    "ss07";
  font-variation-settings: normal;
}

@font-face {
  font-family: "Uncut Sans";
  src: url("/assets/fonts/UncutSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-feature-settings:
    "liga" 0,
    "ss02",
    "ss07";
  font-variation-settings: normal;
}

@font-face {
  font-family: "Uncut Sans";
  src: url("/assets/fonts/UncutSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
  font-feature-settings:
    "liga" 0,
    "ss02",
    "ss07";
  font-variation-settings: normal;
}

body {
  font-family: "Uncut Sans", sans-serif;
  position: relative;
  font-optical-sizing: auto;
  font-family:
    "Uncut Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-feature-settings:
    "liga" 0,
    "ss02",
    "ss07";
  font-variation-settings: normal;
}

button {
  cursor: pointer;
}

[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 0.55em 0.55em;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.shapes-pos {
  height: 2380px;
  margin-top: -40px;
  object-fit: cover;
  width: 1608px;
}

.bg-home-shapes {
  background-image: url("/assets/img/home-shapes-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 0%;
}

.outline-all,
.outline-all * {
  outline: 1px solid;
}

@media (width >= 70rem) {
  .grid-dashboard {
    grid-template-columns: 1fr 0.55fr;
  }
}

.setup.darkmode {
  --color-grey: #393939;
}

.darkmode::-webkit-calendar-picker-indicator {
  /* This filter turns the icon white */
  filter: invert(100%);
}

.setup {
  display: flex;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

select {
  appearance: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
}

.dropdown::before,
.dropdown::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.dropdown::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid;
  top: 40%;
}

.dropdown::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid;
  top: 55%;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
